body{
font-family: 'Indie Flower', cursive;
background:black;
color:white;
border:30px solid #2EC486;
border-top:0px;
margin:0px;
padding-top:5%;
padding-left:10%;
}
div{
text-align:center;
margin-left:35%;
margin-right:35%;
border:red solid 5px;
}
#sub{
background:cyan;
border-radius:5px;
}
